<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width">
        <meta name="generator" content="Pagespace">
        <meta name="description" content="{{ site.description }}">

        <title>{{page.name}} | {{ site.name }}</title>

        <link rel="shortcut icon" href="/favicon.ico" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/site.css">
        <script>
                {{{site.analytics}}}
        </script>
    </head>
    <body class={{template.name}}>
        <header>
            <p><a href="/"><i>Versatile</i> Internet</a></p>
        </header>
        <nav>
            {{#Nav}}
                {{> Nav }}
            {{/Nav}}
        </nav>
        <div class=wrap>
            <aside>
                {{#Aside}}
                    {{> Aside }}
                {{/Aside}}
            </aside>
            <main>
                <h1>{{page.name}}</h1>
                {{#if template.showDate}}
                    <p class="date">{{formatDate page.publishedAt day="numeric" month="long" year="numeric"}} by Phil Mander</p>
                {{/if}}
{{#Main}}
{{> Main }}
{{/Main}}
                {{#if template.showComments}}
                    <div id="disqus_thread"></div>
                    <script>

                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                        /*
                        var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        */
                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = '//versatile-intenet.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {{/if}}
            </main>
        </div>
        <footer>
            {{#Footer}}
                {{> Footer }}
            {{/Footer}}
        </footer>
    </body>
</html>